extends layout

block content
 h1= title

  if(toShow == null)
    h2 No instance to detail
  else
    - let pensid = toShow._id
    - let pens_name = toShow.pens_name
    - let penstype = toShow.penstype
    - let penscost = toShow.cost
    - let actionid = "/resource/pens/" + pensid
    script let actionid = "#{actionid}"
    div
      div.row
            div(class="card  text-dark bg-warning col-md-7 mb-3  align-items-left" ) pens ID is:  #{pensid}
      div.row
             div(class="card  text-dark bg-warning col-md-7 mb-3  align-items-left" ) Pen Name is:#{pens_name}
      div.row
            div(class="card  text-dark bg-warning col-md-7 mb-3  align-items-left" ) Pens type is:#{penstype}
      div.row
            div(class="card  text-dark bg-warning col-md-7 mb-3  align-items-left" ) Pens Cost is: #{penscost}
      button(class="btn btn-primary col-md-3 mb-3 m-2" onclick="detailOnid()") Goback
      button(class="btn btn-danger col-md-3 mb-3 m-2" onclick="cancel()") Cancel
  
  script.
    function cancel() {
    // Go back to the home page for the pens collection
    window.location.href='/pens'
    }
    function detailOnid()
    }.catch((error) => {
    // TODO handle error
    alert("details failed " + error )
    });
    
