extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to delete
  else
    - let pensid = toShow._id
    - let pens_name = toShow.pens_name
    - let penstype = toShow.penstype
    - let penscost = toShow.cost
    - let actionid = "/resource/pens/" + pensid
    script let actionid = "#{actionid}"
    div(class="row-sm-2",class="m-1") 
      div.row
       div(class="card  text-dark bg-warning col-md-3 mb-3  align-items-left" ) pens ID is:  #{pensid}
      div.row
       div(class="card  text-dark bg-warning col-md-3 mb-3  align-items-left" ) Pen Name is:#{pens_name}
      div.row
        div(class="card  text-dark bg-warning col-md-3 mb-3  align-items-left" ) Pens type is:#{penstype}
      div.row
        div(class="card  text-dark bg-warning col-md-3 mb-3  align-items-left" ) Pens Cost is: #{penscost}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
    // Go back to the home page for the pens collection
    window.location.href='/pens'
    }
    function deleteOnid() {
    console.log("starting delete")
    // delete first
    fetch(actionid, {
    method: 'DELETE' // Don't need a body for the delete
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Delete succeded")
    window.location.href='/pens'
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Delete failed " + error )
    });
    }
