extends layout

block content
  div(class="container-fluid")
    h1= title

    let pens = results
  div(class="container-fluid mt-3")
  div(class="row m-1")
    each i in pens   
      - let destination = `dispatch(\"/pens/update?id=${i._id}\")`
      div(class="col-sm-4")  #{i.name} - #{i.type} -#{i.cost}
        button.btn( class="btn-primary ml-1", onclick= destination) Update
     
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }
 


  
