extends layout

block content
  h1= title
    //- - let items = ['pens_name','type','cost']
    - let items = results;
    
    div(class="container-fluid") 
     div(class="row  col-md-5 float-child m-l") 
    
      each item in items   
        - let destination = `dispatch(\"/pens/update?id=${item._id}\")` 
            div(class="card  text-dark bg-warning col-md-7 mb-3" class='col' class='card' class='card-body' class='card-name' class='card-text' onclick='buy('+index+')') Item: #{item.pens_name} (#{item.penstype}) is #{item.cost} 
              button.btn( class="btn-primary col-md-3 ml-1", onclick= destination) Update 
  
    
        

  script.
    function buy(x){
      alert('purchased item ' + x)
   } 
    function dispatch(path){
      window.location.href=path
    }
 

  
