extends layout

block content
  h1= title
    //- - let items = ['pens_name','type','cost']
  - let items = results;
    div(class="container-fluid") 
    div(class="row m-1") 
    
      each item in items   
      - let destination = `dispatch(\"/pens/update?id=${item._id}\")` 
        div(class="row-sm-2", class="m-1") item #{item.pens_name} (#{item.penstype}) is #{item.cost}
        div(class="card text-dark bg-warning mb-3" class='col' class='card' class='card-body' class='card-name' class='card-text' onclick='buy('+index+')') #{o}
      button.btn( class="btn-primary ml-1", onclick= destination) Update 
  
    
        

  script.
    function buy(x){
      alert('purchased item ' + x)
   } 
    function dispatch(path){
      window.location.href=path
    }
 

  
